body {
    background-color: black;
    margin: 0;
    user-select: none;
    scrollbar-color: var(--light) #00000000;
    cursor: none;
}

#innerBody {
    background-color: var(--dark);
    color: var(--light);
    font-family: Roboto;
    width: 640px;
    height: 435px;
    position: fixed;
    top: 0;
    left: 80px;
    padding-top: 45px;
    overflow: hidden;
}

.navbar {
  font-weight: bold;
  overflow: hidden;
  position: fixed;
  top: 5px;
  left: 80px;
  height: 40px;
}

.nav-item {
  float: left;
  display: block;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 80px;
  border-bottom: 1px solid var(--light);
}

.nav-item-small {
  float: left;
  display: block;
  text-align: center;
  padding: 0;
  padding-top: 38.25px; /* 38 or 38.5 ? depends on screen */
  text-decoration: none;
  font-size: 17px;
  width: 39px;
  border-bottom: 1px solid var(--light);
}

.nav-item.active {
  border: 1px solid var(--light);
  border-bottom: none;
}

#vault-boy {
  filter: hue-rotate(var(--hue)) saturate(var(--sat)) brightness(var(--brightness));
}

.black-icon {
  filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(var(--biHue)) saturate(var(--biSat)) brightness(var(--biBrightness));
}

/*---*/

#settings-template {
  margin: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 8px;
  background: var(--medium);
  outline: none;
  cursor: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  background: var(--light);
}

.slider-container {
  margin: 10px 0;
  color: var(--light);
  font-family: 'Roboto', sans-serif;
}

.slider-container label {
  display: block;
  margin-bottom: 5px;
  width: fit-content;
  padding: 5px;
}

.slider-val {
  margin-left: 20px;
}

.profile-btn {
  color: inherit;
  height: 30px;
  width: 60px;
  background-color: var(--dark);
  border: solid 1px var(--light);
  margin: 0 10px;
  cursor: none;
}

.profile-btn:active {
  background-color: var(--medium);
}

.selected label {
  color: var(--darkText);
  font-weight: bold;
  background-color: var(--light);
}

button.selected {
  color: var(--darkText);
  font-weight: bold;
  background-color: var(--light);
  outline: none;
}

/*---*/

.submenu {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}

.sub-nav-item {
  opacity: 0.5;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.sub-nav-item.active {
  opacity: 1;
}

/*---*/

#statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  position: fixed;
  top: 427px;
  padding: 10px;
}

#footer table {
  width: 620px;
  height: 35px;
  font-weight: bold;
}

#footer table td {
  background-color: var(--medium);
  padding: 0 10px;
}

#footer table td.small {
  width: 25%;
}

#footer table td.large {
  width: 50%;
}

#footer table td.full {
  width: 100%;
}

#junk-components {
  text-align: center;
}

/*---*/

.loading-bar {
  display: inline-block;
  border: 1px solid var(--light);
  margin-left: 10px;
}

#level-bar {
  width: 71%;
}

#health-bar {
  width: 86.6%;
}

.loading-bar span {
  display: block;
  height: 9px;
  background-color: var(--light);
}

#levels {
  width: 0%;
}

#health-points {
  width: 95%;
}

/*---*/

#name {
  margin-top: -10px;
  margin-bottom: 10px;
}

.status-overview-table {
  width: 300px;
  height: 68px;
  font-weight: bold;
  border-spacing: 5px;
}

.status-overview-table td {
  background-color: var(--medium);
  padding: 0;
  text-align: center;
}

td.status-overview-image {
  width: 23%;
}

td.status-overview-symbol-and-value {
  width: 13%;
}

td.status-overview-separator {
  background-color: unset;
  width: 2%;
}

/*---*/

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list-half {
  height: 340px;
  margin: 0 20px;
}

.inv-left-half {
  width: 60%;
}

.inv-right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.inv-right-half table {
  width: 200px;
}

.inv-right-half table td {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--medium);
  width: 190px;
  padding: 0 5px;
}

#dmg {
  background-color: unset;
  width: 198px;
  border-spacing: 0;
  padding: 0;
}

#dmg span {
  display: table-cell;
}

#dmg > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--mediumLight);
  padding: 0 5px;
}

#dmg-txt {
  width: 150px;
}

#dmg-val {
  width: 50px;
  transform: translateX(2px);
}

#ammo {
  background-color: var(--mediumLight);
}

/*---*/

.equipableList {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.equipableList span {
  margin-left: -10px;
}

.equipableList-item {
  font-size: 17px;
  font-weight: bold;
  padding: 7px;
  padding-left: 10px;
  display: list-item;
  list-style-position: inside;
  list-style-type: square;
}

.equipableList-item.active {
  background-color: var(--light);
  color: var(--darkText);
}

.equipableList-item::marker {
  color: #00000000;
  margin: 0 5px 0 0;
}

.equipableList-item.equipped::marker {
  color: var(--light);
}

.equipableList-item.equipped.active::marker {
  color: var(--darkText);
}

/*---*/

.perk-left-half {
  width: 50%;
}

.perk-right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.perkList-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  padding: 7px;
  padding-left: 10px;
}

.perkList-item.active {
  background-color: var(--light);
  color: var(--darkText);
}